################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.pdb
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.dll
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.csprojAssemblyReference.cache
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.csproj.FileListAbsolute.txt
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.csproj.CoreCompileInputs.cache
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.csproj.CopyComplete
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.assets.cache
/CostTracking.Tests/obj/Debug/netcoreapp2.0/CostTracking.Tests.AssemblyInfoInputs.cache
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.pdb
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.dll
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.csprojAssemblyReference.cache
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.csproj.FileListAbsolute.txt
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.csproj.CoreCompileInputs.cache
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.assets.cache
/CostTracking.Domain/obj/Debug/netcoreapp2.0/CostTracking.Domain.AssemblyInfoInputs.cache
/CostTracking/obj/Release/netcoreapp2.0/CostTracking.csproj.CoreCompileInputs.cache
/CostTracking/obj/Release/netcoreapp2.0/CostTracking.assets.cache
/CostTracking/obj/Release/netcoreapp2.0/CostTracking.AssemblyInfoInputs.cache
/.vs/CostTracking/v15/Server/sqlite3
/.vs/slnx.sqlite
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Tests.pdb
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Tests.dll
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Tests.deps.json
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Domain.pdb
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Domain.dll
/CostTracking.Tests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/CostTracking.Tests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netcoreapp10.dll
/CostTracking.Tests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netcoreapp10.dll
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Tests.runtimeconfig.json
/CostTracking.Tests/bin/Debug/netcoreapp2.0/CostTracking.Tests.runtimeconfig.dev.json
/CostTracking.Tests/obj
/CostTracking.Domain/obj/Debug/netcoreapp2.0
/CostTracking.Domain/obj
/CostTracking.Domain/bin/Debug/netcoreapp2.0
/CostTracking/obj/Release/netcoreapp2.0
/.vs/CostTracking/v15
/.vs
/CostTracking.Domain.ContractLabor/obj
/CostTracking.Domain.ContractLabor/bin/Debug/netcoreapp2.1
/CostTracking.Tests/bin/Debug/netcoreapp2.1
/CostTracking.Domain/bin/Debug/netcoreapp2.1
/CostTracking/bin/Debug/netcoreapp2.1
/CostTracking/obj/Debug/netcoreapp2.1/Razor/Pages
/CostTracking/obj/Debug/netcoreapp2.1
